---
layout: default-haml
title: Download CentOS
---
.jumbotron
  %h1 Download CentOS
  %p 
    Before downloading, the CentOS team would like to remind you that the primary means of sustaining the development of CentOS is via contributions by users such as yourself. CentOS is now and will continue to be totally free; however, it takes money and resources to make CentOS available. 
    %a( href="http://wiki.centos.org/Donate" ) If you are able, please consider donating to the CentOS Project.
  .row
    .col-sm-6
      %p
        .downloadbutton 
          %a( href="http://isoredirect.centos.org/centos/7/isos/x86_64/CentOS-7.0-1406-x86_64-DVD.iso" ) DVD ISO
          %a( href="http://isoredirect.centos.org/centos/7/isos/x86_64/CentOS-7.0-1406-x86_64-Everything.iso" ) Everything&nbsp;ISO
      %p 
        Both isos are also available
        %a( href="http://isoredirect.centos.org/centos/7/isos/x86_64/" ) via Torrent.
      %p
        If the above is not for you,        
        %a( href="http://wiki.centos.org/Download" ) alternative downloads
        might be.

    .col-sm-6
      %h2 Need a Cloud Image?
      %p
        Looking to run CentOS in the Cloud? We have a number of official CentOS Linux images for Amazon Web Services, OpenNebula and more. 
        %a( href="http://wiki.centos.org/Cloud" ) Check out our Clouds
  .row
    .col-sm-12
      %hr
      %p
        If you're looking for a specific (or geographically local) mirror, please check out our 
        %a(href="/download/mirrors/") List of Current Mirrors
      %p 
        To check the status of a mirror, please visit
        %a(href="http://mirror-status.centos.org/") mirror-status.centos.org
      %hr


.row
  .col-sm-4
    %h2.text-center Minimal Install Images
    %p 
      The absolute bare minimum no-frills install media for CentOS. For experienced users who don't need or want anything extra for their install. 
      %a( href="http://isoredirect.centos.org/centos/7/isos/x86_64/" ) Download the Minimal ISO &raquo;
  .col-sm-4
    %h2.text-center Older Versions
    %p  
      Legacy versions of CentOS are no longer supported. For historical purposes, CentOS keeps an archive of older versions. If you're absolutely sure you need an older version:
      %a( href="http://wiki.centos.org/Download" ) then click here &raquo;
  .col-sm-4
    %h2.text-center Need the Source? 
    %p 
      In order to help ease the workload for our primary mirror network, the source rpms are not kept in the same tree as the binary packages. If you need the source packages used to build CentOS, you can find them in our vault 
      %a( href="http://vault.centos.org" ) vault.centos.org &raquo;
.row
  .col-sm-12
    %h3.text-center.smallprint Export Regulations
    %p.smallprint
      By downloading CentOS software, you acknowledge that you understand all of the following: CentOS software and technical information may be subject to the U.S. Export Administration Regulations (the “EAR”) and other U.S. and foreign laws and may not be exported, re-exported or transferred (a) to any country listed in Country Group E:1 in Supplement No. 1 to part 740 of the EAR (currently, Cuba, Iran, North Korea, Sudan & Syria); (b) to any prohibited destination or to any end user who has been prohibited from participating in U.S. export transactions by any federal agency of the U.S. government; or (c) for use in connection with the design, development or production of nuclear, chemical or biological weapons, or rocket systems, space launch vehicles, or sounding rockets, or unmanned air vehicle systems. You may not download CentOS software or technical information if you are located in one of these countries or otherwise subject to these restrictions. You may not provide CentOS software or technical information to individuals or entities located in one of these countries or otherwise subject to these restrictions. You are also responsible for compliance with foreign law requirements applicable to the import, export and use of CentOS software and technical information.
