---
title: CentOS Project
is_hidden: true
---
<script type="text/javascript" >
$(document).ready(function () {
        $('#divRss').FeedEk({
            FeedUrl: document.location.protocol + '//www.centos.org/assets/planet.rss',
            DescCharacterLimit:100,
            MaxCount: 4
        });
});
</script>

<div class="row">
  <div class="jumbotron col-md-12">
    <h1>CentOS 7 Updates</h1>
    <p> The CentOS Project is happy to announce the availability of CentOS 7 (1503). This release includes a number of new features including a major update to IPA, which adds support for two-factor authentication. Other enhancements include the addition of OpenJDK 8, the return of Thunderbird, and improved container support.</p>
    <p> We're also expanding the availability of CentOS images across a number of vendors, providing official images for <a href="https://aws.amazon.com/marketplace/pp/B00O7WM7QW">Amazon</a>, Google, and more. For self-hosted cloud, we also provide a generic cloud-init enabled image. </p>
    <p>For more information about updates and improvements in CentOS 7, please check out the <a href="http://wiki.centos.org/Manuals/ReleaseNotes/CentOS7">release notes</a></p>
    <div class="downloadbutton"><a href="/download/">Get CentOS Now</a></div>
  </div>
</div>
<div class="row">
  <div class="col-sm-4">
    <h2 class="text-center">Around CentOS</h2>
    <div id="divRss">
    </div>
  </div>
  <div class="col-sm-4">
    <h2 class="text-center">News & Events</h2>

    <div class="media">
      <a class="pull-left" href="#">
        <img class="media-object img-rounded" src="/images/centoslogo-32.png" width="32" alt="..."></a>
      <div class="media-body">
        <h4 class="media-heading"><a href="http://wiki.centos.org/Events/Dojo/Brussels2015">CentOS Dojo - Brussels, Belgium</a> <small><em>30 Jan 2015</em></small></h4>
        <p>Come join the CentOS team in Brussels</p>
        <p>Sponsored by <a href="http://www.ibm.com/be/en/">IBM Belgium</a></p>
        <p> <a href="http://wiki.centos.org/Events/Dojo/">More about Dojos and other Events</a></p>
      </div>
    </div>

    <div class="media">
      <a class="pull-left" href="#">
        <img class="media-object img-rounded" src="/images/centoslogo-32.png" width="32" alt="..."></a>
      <div class="media-body">
        <h4 class="media-heading"><a href="http://fosdem.org/2015/">CentOS Booth at Fosdem</a> <small><em>31 Jan 2015</em></small></h4>
        <p>Stop by the CentOS Booth at Fosdem, and stay for the devroom talks</p>
      </div>
    </div>

  </div>
  <div class="col-sm-4">
    <h2 class="text-center">Sponsorship</h2>
    <p>CentOS would not be possible without the support of our sponsors. We would like to thank the following product/service for being a CentOS sponsor:</p>
    <div class='cycle-slideshow' 
      data-cycle-random="true"
      data-cycle-timeout="3000" 
      data-cycle-fx="fade" 
      data-cycle-center-horz=true 
      data-cycle-center-vert=true 
      data-cycle-loader="wait" 
      data-cycle-progressive="#images"
      data-cycle-slides="> a"
      data-cycle-pause-on-hover="true" >
      <% @site.items.select { |i| i[:sponsor] }.each do|i| %>
        <a href="<%= i[:url] %>" rel="nofollow"><img class="img-rounded" src="<%= i[:img] %>" /></a> <% end %>
    </div>
    <br /> 
    <p><a href="/sponsors/">If you value our work, please consider becoming a sponsor!</a></p>
  </div>
</div>
