---
title: CentOS Project
is_hidden: true
---
<script type="text/javascript" >
$(document).ready(function () {
        $('#divRss').FeedEk({
            FeedUrl: document.location.protocol + '//www.centos.org/assets/planet.rss',
            DescCharacterLimit:100,
            MaxCount: 4
        });
});
</script>

<div class="row">
  <div class="jumbotron col-md-12">
    <h1>CentOS 7 is here</h1>
    <p>The CentOS Project is pleased to <a href="http://lists.centos.org/pipermail/centos-announce/2014-July/020393.html">announce</a> the immediate availability of CentOS 7 for x86_64, including images for <a href="https://registry.hub.docker.com/_/centos/">docker</a>, and various cloud providers. There are many fundamental changes in this release, compared to previous releases of CentOS. Notably the inclusion of SystemD, Gnome3, and a default filesystem of XFS. For more information about what makes CentOS 7 stand out, please see our <a href="http://wiki.centos.org/Manuals/ReleaseNotes/CentOS7">release notes</a>.</p>
    <p>With the release of CentOS 7, the board will be able to focus on getting the Community Builders online, and facilitating the progress for the several <a href="http://wiki.centos.org/SpecialInterestGroup">Special Interest Groups</a> that have been on hold during the release cycle.</p>
    <p>Groups such as OpenStack, Xen4, Gluster, and oVirt can now customize CentOS Linux directly <em>inside the project</em>, building CentOS variants for new workloads on top of the slow-and-steady core platform. <a href="/variants">Read more about the variants proposal&raquo;</a></p>
    <p></p>
    <div class="downloadbutton"><a href="/download/">Get CentOS 7 Now</a></div>
  </div>
</div>
<div class="row">
  <div class="col-sm-4">
    <h2 class="text-center">Around CentOS</h2>
    <div id="divRss">
    </div>
  </div>
  <div class="col-sm-4">
    <h2 class="text-center">News & Events</h2>
    <div class="media">
      <a class="pull-left" href="#">
        <img class="media-object img-rounded" src="/images/centoslogo-32.png" width="32" alt="..."></a>
      <div class="media-body">
        <h4 class="media-heading"><a href="http://www.oscon.com/oscon2014">CentOS at OSCON</a> <small><em>20-24 July 2014</em></small></h4>
        <p>The CentOS Team will be at OSCON this year, with presentations and a table at the <a href="http://www.oscon.com/oscon2014/public/schedule/detail/35858">Open Cloud Poker Party</a> Come check us out </p>
        <p> <a href="http://wiki.centos.org/Events/Dojo/">More about Dojos and other Events</a></p>
      </div>
    </div>

    <div class="media">
      <a class="pull-left" href="#">
        <img class="media-object img-rounded" src="/images/centoslogo-32.png" width="32" alt="..."></a>
      <div class="media-body">
        <h4 class="media-heading"><a href="http://texaslinuxfest.org/">Texas LinuxFest</a> <small><em>13-14 June 2014</em></small></h4>
        <p>Stop by our booth and say hi, ask questions, or let us know what you'd like to see. You could even get free stuff! </p>
        <p> <a href="http://wiki.centos.org/Events/Dojo/">More about Dojos and other Events</a></p>
      </div>
    </div>
    <div class="media">
      <a class="pull-left" href="#">
        <img class="media-object img-rounded" src="/images/centoslogo-32.png" width="32" alt="..."></a>
      <div class="media-body">
        <h4 class="media-heading"><a href="http://wiki.centos.org/Events/Dojo/Cincinnati2014">CentOS Dojo - Cincinnati</a> <small><em>4 June 2014</em></small></h4>
        <p>Come join the CentOS team in Cincinnati Ohio</p>
        <p> <a href="http://wiki.centos.org/Events/Dojo/">More about Dojos and other Events</a></p>
      </div>
    </div>

  </div>
  <div class="col-sm-4">
    <h2 class="text-center">Sponsorship</h2>
    <p>CentOS would not be possible without the support of our sponsors. We would like to thank the following product/service for being a CentOS sponsor:</p>
    <div class='cycle-slideshow' 
      data-cycle-random="true"
      data-cycle-timeout="3000" 
      data-cycle-fx="fade" 
      data-cycle-center-horz=true 
      data-cycle-center-vert=true 
      data-cycle-loader="wait" 
      data-cycle-progressive="#images"
      data-cycle-slides="> a"
      data-cycle-pause-on-hover="true" >
      <% @site.items.select { |i| i[:sponsor] }.each do|i| %>
        <a href="<%= i[:url] %>"><img class="img-rounded" src="<%= i[:img] %>" /></a> <% end %>
    </div>
    <br /> 
    <p><a href="/sponsors/">If you value our work, please consider becoming a sponsor!</a></p>
  </div>
</div>
