---
title:      "CentOS Sponsors"
markdown:   basic
is_dynamic: true
is_hidden: false
---

<div class="row">
  <div class="jumbotron col-md-12">
    <h1>Sponsors</h1>
    <p>If you are interested in becoming a CentOS sponsor, you can contact the us at <a href="mailto:donate@centos.org">donate@centos.org</a>.</p>
  </div>
</div>



<div class="row">
  <% @site.items.select { |i| i[:sponsor] }.shuffle.each do|i| %>
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <img class="rounded" src="<%= i[:img] %>"> 
        <div class="caption">
          <h3><%= i[:name]  %> </h3>
          <p> <a href="<%= i[:url]  %>"><%= i[:url]  %></a></p>
        </div>
      </div>
    </div>
  <% end %>
</div>
