.navbar.navbar-inverse.navbar-static-top
  .container
    .navbar-header
      %button.navbar-toggle( type="button" data-toggle="collapse" data-target=".navbar-collapse" )
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.navbar-brand( href="/" title="Home" )
        %img( src="/images/logo_small.png" )
    .navbar-collapse.collapse
      %ul.nav.navbar-nav
        %li.dropdown
          %a.dropdown-toggle( href="#learn" title="Get CentOS" data-toggle="dropdown" ) 
            Get CentOS
            %b.caret
          %ul.dropdown-menu
            %li
              %a( href="/download/" ) Download
            %li
              %a( href="/download/mirrors/" ) Mirrors
            %li
              %a( href="/download/altarch-mirrors/" ) Mirrors AltArch
  
        %li.dropdown 
          %a.dropdown-toggle( href="#learn" title="About CentOS" data-toggle="dropdown" ) 
            About
            %b.caret
          %ul.dropdown-menu
            %li
              %a( href="/about/" ) About CentOS
            %li
              %a( href="http://wiki.centos.org/FAQ" ) FAQ
            %li
              %a( href="http://wiki.centos.org/SpecialInterestGroup" ) About SIGs
            %li
              %a( href="/variants/" ) CentOS Variants
            %li
              %a( href="/about/governance/" ) Governance

        %li.dropdown 
          %a.dropdown-toggle( href="#learn" title="The CentOS Community" data-toggle="dropdown" ) 
            Community
            %b.caret
          %ul.dropdown-menu
            %li
              %a( href="http://wiki.centos.org/Contribute" ) Contribute
            %li
              %a( href="http://www.centos.org/forums/" ) Forums
            %li
              %a( href="http://wiki.centos.org/GettingHelp/ListInfo" ) Mailing Lists
            %li
              %a( href="http://wiki.centos.org/irc" ) IRC
            %li
              %a( href="/community/calendar/" ) Calendar & IRC Meeting List
            %li
              %a( href="http://planet.centos.org" ) Planet
            %li
              %a( href="http://bugs.centos.org" ) Submit a Bug
            %li
              %a( href="/community/stories/" ) Stories

        %li.dropdown 
          %a.dropdown-toggle( href="#learn" title="CentOS Documentation" data-toggle="dropdown" ) 
            Documentation
            %b.caret
          %ul.dropdown-menu
            %li
              %a( href="http://wiki.centos.org" ) Wiki
            %li
              %a( href="/docs/" ) Manuals
            %li
              %a( href="/keys") GPG Key Info

        %li
          %a( href="http://wiki.centos.org/Documentation?action=show&redirect=GettingHelp" ) Help
